.screen {
  height: 100%;
  position: relative;
}

.menu {
  position: absolute;
}
.menu:not(.active) {
  display: none;
}

.option {
  position: absolute;
  background-color: #75FB00;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option.active {
  background-color: white;
}

.option-text {
  font-size: 32px;
  font-weight: 900;
}

.option-subtext {
  font-size: 24px;
  font-weight: 700;
}

.menu-1 {
  top: 0;
  left: 0;
}

.menu-1 .option {
  border-radius: 10px;
  height: 130px;
  width: 250px;
}

.menu-2 {
  top: 40%;
  right: 50%;
}

.menu-2 .option {
  border-radius: 100px;
  height: 160px;
  width: 300px;
}

.menu-3 {
  background-color: #75FB00;
  top: 0;
  left: 300px;
}

.menu-3 .option {
  height: 60px;
  width: 500px;
}
